

@media (max-width: 768px){

    .butabrirmenumob{
        color: #0e9094;
        font-size: 40px;    
    }

    .bottonFechar{
        color: #0e9094;
        font-size: 40px;
        padding: 20px 0 0 20px;
    }

    .navegetion{
        display: none;
    }

    .navegetion.is-open{
        background-color: #000000;
        width: 70%; 
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 2000;
        overflow: hidden;
        display: block;
    }

    .nav_style{
        margin-top: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    .nav_style li a{
        color:#fff;
        font-size: 1.5rem;
    }
 
    .button0{
        display: none;
    }
}